In [98]:
import nltk
from nltk import wordnet
from sklearn.feature_extraction.text import  TfidfVectorizer
import pandas as pd

In [74]:
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [22]:
text = "The Parker Solar Probe concept originates in the 1958 report by the \
Fields and Particles Group (Committee 8 of the National Academy of Sciences' \
Space Science Board [19][20]) which proposed several space missions including \
a solar probe to pass inside the orbit of Mercury to study the particles and \
fields in the vicinity of the Sun.[21][22] Studies in the 1970s and 1980s \
reaffirmed its importance,[21] but it was always postponed due to cost. \
A cost-reduced Solar Orbiter mission was studied in the 1990s, and a more \
capable Solar Probe mission served as one of the centerpieces of the eponymous \
Outer Planet/Solar Probe (OPSP) program formulated by NASA in the late 1990s. \
The first three missions of the program were planned to be: the Solar Orbiter, \
the Pluto and Kuiper belt reconnaissance mission Pluto Kuiper Express, and the \
Europa Orbiter astrobiology mission focused on Europa."

In [23]:
text

"The Parker Solar Probe concept originates in the 1958 report by the Fields and Particles Group (Committee 8 of the National Academy of Sciences' Space Science Board [19][20]) which proposed several space missions including a solar probe to pass inside the orbit of Mercury to study the particles and fields in the vicinity of the Sun.[21][22] Studies in the 1970s and 1980s reaffirmed its importance,[21] but it was always postponed due to cost. A cost-reduced Solar Orbiter mission was studied in the 1990s, and a more capable Solar Probe mission served as one of the centerpieces of the eponymous Outer Planet/Solar Probe (OPSP) program formulated by NASA in the late 1990s. The first three missions of the program were planned to be: the Solar Orbiter, the Pluto and Kuiper belt reconnaissance mission Pluto Kuiper Express, and the Europa Orbiter astrobiology mission focused on Europa."

In [24]:
sentences = nltk.sent_tokenize(text)
sentences

["The Parker Solar Probe concept originates in the 1958 report by the Fields and Particles Group (Committee 8 of the National Academy of Sciences' Space Science Board [19][20]) which proposed several space missions including a solar probe to pass inside the orbit of Mercury to study the particles and fields in the vicinity of the Sun.",
 '[21][22] Studies in the 1970s and 1980s reaffirmed its importance,[21] but it was always postponed due to cost.',
 'A cost-reduced Solar Orbiter mission was studied in the 1990s, and a more capable Solar Probe mission served as one of the centerpieces of the eponymous Outer Planet/Solar Probe (OPSP) program formulated by NASA in the late 1990s.',
 'The first three missions of the program were planned to be: the Solar Orbiter, the Pluto and Kuiper belt reconnaissance mission Pluto Kuiper Express, and the Europa Orbiter astrobiology mission focused on Europa.']

In [25]:
words0 = nltk.word_tokenize(sentences[1])
words0

['[',
 '21',
 ']',
 '[',
 '22',
 ']',
 'Studies',
 'in',
 'the',
 '1970s',
 'and',
 '1980s',
 'reaffirmed',
 'its',
 'importance',
 ',',
 '[',
 '21',
 ']',
 'but',
 'it',
 'was',
 'always',
 'postponed',
 'due',
 'to',
 'cost',
 '.']

In [26]:
stemmer = nltk.stem.PorterStemmer()
lemmatizer = nltk.stem.WordNetLemmatizer()

In [27]:
sentences[1]

'[21][22] Studies in the 1970s and 1980s reaffirmed its importance,[21] but it was always postponed due to cost.'

In [70]:
stemmer.stem('playing')

'play'

In [72]:
lemmatizer.lemmatize('playing', wordnet.wordnet.VERB)

'play'

In [68]:
stemmer.stem('wrote')

'wrote'

In [65]:
lemmatizer.lemmatize('wrote', wordnet.wordnet.VERB)

'write'

In [90]:
stop_words = set(nltk.corpus.stopwords.words('english'))
stop_words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [88]:
words0

['[',
 '21',
 ']',
 '[',
 '22',
 ']',
 'Studies',
 'in',
 'the',
 '1970s',
 'and',
 '1980s',
 'reaffirmed',
 'its',
 'importance',
 ',',
 '[',
 '21',
 ']',
 'but',
 'it',
 'was',
 'always',
 'postponed',
 'due',
 'to',
 'cost',
 '.']

In [91]:
[word for word in words0 if not word in stop_words]

['[',
 '21',
 ']',
 '[',
 '22',
 ']',
 'Studies',
 '1970s',
 '1980s',
 'reaffirmed',
 'importance',
 ',',
 '[',
 '21',
 ']',
 'always',
 'postponed',
 'due',
 'cost',
 '.']

In [109]:
vectorizer = TfidfVectorizer(stop_words = stop_words, max_features = 20)
vectorized_sentences = vectorizer.fit_transform(sentences)
vectorized_sentences

<4x20 sparse matrix of type '<class 'numpy.float64'>'
	with 28 stored elements in Compressed Sparse Row format>

In [110]:
vectorizer.get_feature_names()

['1990s',
 '21',
 'cost',
 'europa',
 'fields',
 'kuiper',
 'mission',
 'missions',
 'orbiter',
 'outer',
 'particles',
 'pass',
 'planet',
 'planned',
 'pluto',
 'postponed',
 'probe',
 'program',
 'solar',
 'space']

In [111]:
pd.DataFrame(vectorized_sentences.toarray(), columns = vectorizer.get_feature_names())

      1990s       21      cost  ...   program     solar     space
0  0.000000  0.00000  0.000000  ...  0.000000  0.303109  0.474879
1  0.000000  0.84353  0.332524  ...  0.000000  0.000000  0.000000
2  0.492303  0.00000  0.194069  ...  0.194069  0.471346  0.000000
3  0.000000  0.00000  0.000000  ...  0.177978  0.144089  0.000000

[4 rows x 20 columns]